<div class="cont-dialog-conclusion">
    <div class="cont-dialog-conclusion__inner">
        <h2 class="cont-dialog-conclusion__section-title">conclusion</h2>
        <p>次のアイデアで決着しました。</p>
        <p>{{answer_to_html(currentIdea)}}</p>
    </div>
</div>
