<div class="cont-dialog-judgement">
    <div class="cont-dialog-judgement__inner">
        <h2 class="cont-dialog-judgement__section-title">judgement</h2>
        <p>制限時間内に、全員の賛成を得られませんでした。次のアイデアが、最も合理的な結論として提案されました。</p>
        <p>{{answer_to_html(currentIdea)}}</p>
    </div>
</div>
