<div class="cont-dialog-review">
    <div class="cont-dialog-review__inner">
        <h2 class="cont-dialog-review__section-title">review</h2>
        {% for review in reviews %}
        <div class="cont-dialog-review__answer cont-dialog-review__answer--stance-{{ review.stance ? "true" : "false" }}">
            <div class="cont-dialog-review__answer__inner">
                <h3 class="cont-dialog-review__section-title">{{ review.reviewer.name }}</h3>
                <p>{{ answer_to_html(review.content) }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
